*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Compiled files
*.class
*.jar
*.war
*.ear
*.apk
*.dex

# Log files
*.log

# Android Studio
.idea/
.gradle/
build/

# User-specific files
*.suo
*.user
*.sln
*.swp

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# macOS
